<h3><a class="btn btn-secondary" href="/inventory/list"><i class="fa fa-plus"></i> Insert</a> Inventory Information Details</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Date</th>
            <th>Time</th>
            <th>Item Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.fullName}}</td>
            <td>{{this.address}}</td>
            <td>{{this.date}}</td>
            <td>{{this.time}}</td>
            <td>{{this.itemName}}</td>
            <td>{{this.unitPrice}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.total}}</td>
            <td>
                <a href="/inventory/list{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/inventory/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>